.art {
max-width: 100%;
float: left;
overflow: hidden;

}

#bod {
    background-color: rgb(100, 126, 133);
border-radius: 15px;
padding: 25px;
    border: solid 6px rgb(190, 171, 138);
    width: 37rem;
    margin: auto;

}

.text {
    border-radius: 15px;
    


}

.card-title {
    font-size: 40px;
}