
     .projdiv {
        background-color: rgb(37; 125; 140);
        padding: 50px;
        margin: 30px;
        border-radius: 40px;
      }


      .title {
        text-align: center;
        color: white;
        font-size: 55px;
        
      }

      .photodiv {
        background-color: rgb(140; 37; 114);
        padding: 50px;
        margin: 30px;
        border-radius: 40px;
      }

      #contact {
     
          text-align: center;
          background-color:  rgb(99, 74, 102);
          font-size: 20px;
          padding: 20px;
          margin-top: 30px;
          color: white;
       
        
      }

  

 
