.contact {
    text-align: center;
    background-color:  rgb(14, 34, 57);
    font-size: 20px;
    width: 100%;
 margin: auto;
    padding: 80px;
    margin: 30px;
    border-radius: 40px;
    color: white;
 
  
}